h2 {
  color: white;
  line-height: 40px;
  background: #444;
  display: block;
  text-indent: 10px;
  border-radius: 5px;
  border-bottom: none;
  font-family: 'Trebuchet MS', Helvetica, Arial,sans-serif;
}